@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  /* Remove 'forwards' if the element is being removed from DOM anyway */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  height: 100%;
}
